/* Contentful content classes. */
.header {
  font-size: 3rem;
}
.header-2 {
  font-size: 2rem;
}

.block-quote {
  font-size: 1.3rem;
  font-style: italic;
}

.p-block {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img-100 {
  width: 100%;
}
/* ----- */

/* Algolia Stuff. */
.hit:hover {
  color: #5368ff;
  background-color: #d0d0d0;
}
.algolia-branding {
  width: 8rem;
}
/* ----- */

/* Layout */
.layout {
  padding-left: 13rem;
  padding-right: 13rem;
}
.recent-posts {
  padding-left: 4rem;
  padding-right: 4rem;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.grid-item {
  margin: 20px;
  padding: 5px;
}

.p-relative {
  position: relative;
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ----- */

/* Home Page */
.home-content {
  display: flex;
}

.home-content-left {
  width: 70%;
}

.home-content-right {
  width: 30%;
}

/* home jumbotron */
.jumbotron-card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4rem;
}
.jumbotron-card {
  padding: 2rem;
}
.social-icon {
  margin: 1rem;
  font-size: 2rem;
  opacity: 0.6;
  transition: 0.3s;
}
.social-icon:hover {
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .jumbotron-card-overlay {
    justify-content: center;
    padding: 0;
  }
  .layout {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 733px) {
  .jumbotron-card {
    padding: 1rem;
  }
  .jumbo-name {
    font-size: 1.5rem !important;
  }
  .jumbo-title {
    font-size: 1rem !important;
  }
  .social-icon {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 1200px) {
  .home-content {
    flex-direction: column;
  }
  .home-content-left,
  .home-content-right {
    width: 100%;
  }
}
/* ----- */

/* Overrides */
.ais-SearchBox-resetIcon,
.ais-SearchBox-submitIcon {
  display: none;
}
.ais-SearchBox-form {
  padding-left: 2.6rem;
  padding-right: 2.6rem;
}
.ais-SearchBox-form > input {
  width: 100%;
  line-height: 2rem;
  border: 1px solid gray;
  padding-left: 1rem;
  padding-right: 1rem;
}
.ais-Hits-list {
  list-style: none;
}
/* ----- */

/* remove disqus adds */
iframe[src*="ads-iframe"] { display: none; }
